# Atom sync
/atom/.atom/blob-store/
/atom/.atom/compile-cache/
/atom/.atom/packages/
/atom/.atom/storage/
/atom/.atom/dev
/atom/.atom/.apm
/atom/.atom/.node-gyp
/atom/.atom/.npm
/atom/.atom/nohup.out
