packages: [
  "atom-minify-stand-alone"
  "autocomplete-python"
  "busy-signal"
  "file-icons"
  "git-plus"
  "git-time-machine"
  "highlight-selected"
  "intentions"
  "language-docker"
  "language-latex"
  "language-nesc"
  "linter"
  "linter-clang"
  "linter-flake8"
  "linter-ui-default"
  "nord-atom-syntax"
  "nord-atom-ui"
  "package-sync"
  "pigments"
  "pretty-json"
  "terminal-panel"
  "wordcount"
]
