"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "linter-clang"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "__init__.py"
    ]
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
    tabLength: 4
  "git-diff":
    showIconsInEditorGutter: true
  linter: {}
  "linter-flake8":
    ignoreErrorCodes: [
      "E501"
    ]
  "linter-ui-default": {}
  "package-sync":
    createOnChange: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  wordcount:
    extensions: [
      "md"
      "markdown"
      "readme"
      "txt"
      "rst"
      "adoc"
      "log"
      "msg"
      "tex"
    ]
    goalColor: "rgb(0, 85, 255)"
".basic.html.text":
  editor:
    tabLength: 2
".bibtex.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".css.source":
  editor:
    tabLength: 2
".latex.tex.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".tex.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
